<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/mystyle.css">
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class='title1'>Hand Cricket</h1> <br>
        </div>
        <div class="d-flex justify-content-center">
            <h3 class="title4"> Siva Creations </h3> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="../static/cricket3.gif" alt="" height="300px">
        </div>


        <div class="col-md-3">
            <a href="/over" class="btn btn-success option"> 1 over </a>
        </div> <br> <br>

        <div class="col-md-3">
            <a href="/over" class="btn btn-primary option">2 over </a>
        </div>

        <div class="col-md-3">
            <img src="../static/cricket3.gif" alt="" height="300px">
        </div>

    </div>
    

    
    
    
</body>
</html>